ul{
  display: flex;
  flex-wrap: wrap;
}

li {
  text-align: center;
  list-style-type: none;
  width: 150px;
  height: 200px;
  margin: 10px;
  border-style: double;
  border-width: 5px;
  padding: 0px;
  border-color: blue;
}



li img {
  width: 90%;
<<<<<<< HEAD
  /*margin-top: -80%;*/
=======
  margin: 5%;
  margin-top: 18%;
>>>>>>> hide-images

}
