ul{
  display: flex;
  flex-wrap: wrap;
}

li {
  text-align: center;
  list-style-type: none;
  width: 100px;
  height: 100px;
  margin: 20px;
  border: 2px solid blue;
}

.hidden {

}

.solved{}

.flipped{}

/*
li[flipped] h1{
  background-color: green;
  color: blue;
}*/
